.msgs {
        margin-top: 10px;
        position:relative;
}

.entry-msg {
        height: auto;
        margin-top: 10px;
        margin-bottom: 5px;
}


.arrow {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 10;
        background: '#000000';
        background-size: '100px 200px';
        width: 35px;
        height: 75px;
}
