.msgs {
        margin-top: 10px;
}

.entry-msg {
        height: auto;
        margin-top: 10px;
        margin-bottom: 5px;
}


.viewport::-webkit-scrollbar {
    -webkit-appearance: none;
}

.viewport::-webkit-scrollbar:vertical {
    width: 11px;
}

.viewport::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: #444444;
}
