{
    "extends": [
        "react-app",
        "prettier"
    ],
    "rules": {
        "jsx-quotes": [
            1,
        "prefer-double"
        ],
        "prettier/prettier": ["warn"]
    },
    "plugins": [
        "prettier"
    ]
}
