.prefixed-input {
        height: 2em;
        padding-left: 1.5em;
        background-color: #000000;
        color: #ffffff;
}

.inside-prefixed-input {
        margin-left: -620px;
        margin-right: 5em;
        color: #ffffff;
}

.block-msg-wide {
        width: 100%;
        /*display: inline-block;*/
}
.big-btn {
        border: none;
        border-radius: 2px;
        display: block;
        width: 100%;
        height: 40px;
        outline: 0;
        /*padding: 0.2rem;*/
        text-transform: uppercase;
        vertical-align: middle;
        color: #fff;
        text-align: center;
        letter-spacing: .5px;
        transition: 2.0s ease-out;
        cursor: pointer;
        margin-bottom: 5px;
}


.big-btn:enabled {
        animation: shadow-pulse 3s infinite;
}
